/* Align Icons to the left */
#what .items .item {
  display: flex;
  text-align: left;
}

#what .item h3 { 
  padding-left: 0.7rem;
}


/* Position icons */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}